<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}} - Staging</title>

    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">

    <link href="/landing/css/yamm.css" rel="stylesheet">

    
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/landing/font-montserrat/fonts.css" rel="stylesheet" type="text/css">    
    <link href="/landing/font-raleway/fonts.css" rel="stylesheet" type="text/css">    
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="/landing/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="mk" data-ng-app="root" data-ng-controller="main.ctrl as main">    
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top mk-nav" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img class="logo" src="/landing/images/logo.png" alt=""/>
                </a>
            </div>    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left nav-margin yamm" role="navigation">
                     <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>       
                     <li class="dropdown dropdown-large">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>                        
                        <ul class="dropdown-menu dropdown-menu-large">
                            <li class="col-sm-3" data-ng-repeat="c in main.mega_menu">
                                <ul>
                                    <li class="dropdown-header" data-ng-bind="c.name"></li>
                                    <li data-ng-repeat="m in c.materials"><a data-product-path data-c="c.id" data-m="m.id" data-ng-bind="m.name"></a></li>
                                </ul>
                            </li>
                        </ul>                     
                    </li>
                    
                    <li>
                        <a href="/faq">FAQs</a>
                    </li>                    
                    <li>
                        <a href="/contact">Contact</a>
                    </li>  
                </ul>
                
                {{{auth_auth_menu}}}    
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	{{{carousel}}}   

    <!-- Page Content -->
    <div class="container">
        {{{body}}}
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/landing/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/landing/js/bootstrap.min.js"></script>

    <script src="/landing/js/theme.js"></script>

    <!-- Angular JavaScript -->
    <script src="/landing/js/angular.min.js"></script>

    <script src="/app/main.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    {{{scripts}}}
</body>

</html>
