<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Products
            <small>{{data.materialName}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li class="active">Products</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <form class="form-inline" action="/products/{{data.materialId}}/{{data.paging.currentPage}}" method="POST">
            <div class="form-group">
                <select class="form-control" id="category" name="category">
                    {{#each data.categories}}
                        <option value="{{this.id}}" {{#selected}}selected="selected"{{/selected}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="search" name="keyword" placeholder="Search for products">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
</div>

<!-- Products Row -->
<div class="row">
     {{#each data.products}}
        <div class="col-md-4 img-portfolio">
            <a href="/product-item/{{this.id}}">
                <img class="img-responsive img-hover" src="{{this.imageUrl}}" alt="">                
            </a>
            <h3>
                <a href="/product-item/{{this.id}}">{{this.code}}</a>
            </h3>
            <p>{{this.size}} - {{this.packaging}}</p>
        </div>
    {{/each}}
</div>
<!-- /.row -->

<!--
<hr>
-->

{{#if data.auth}}    
    {{#if data.paging.show }}   
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="{{data.paging.previous}}">&laquo;</a>
                    </li>

                    {{#if data.paging.pageNumbers}}
                        {{#each data.paging.pageNumbers}}
                            {{#if this.current}}
                                <li class="active">            
                            {{else}}
                                <li>
                            {{/if}}        
                                <a href="{{this.link}}">{{this.p}}</a>
                            </li>
                        {{/each}}
                    {{/if}}
                    
                    <li>
                        <a href="{{data.paging.next}}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    {{/if}}
{{/if}}


{{#if data.auth}}        
{{else}}
    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-12">                
                <p>If you want to have an overview about our products, please <a href="/auth">login</a> or <a href="/request">send the request</a> to us. We are very pleasure to have you in our membership.</p>
            </div>
        </div>
    </div>
{{/if}}


